<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Welcome, {{ username }}</h1>
    <form method="POST" action="">
      <p><input type=text name=ticket_name placeholder="Title"></p>
      <p><input type="datetime" name=due_date placeholder="Due date YYYY-MM-DD"></p>
      <p><input type="number" name=priority placeholder="Priority (1-10)"></p>
      <label for="status">Choose status:</label><br>
        <select name="status" id="stauts">
          <option value="open">Open</option>
          <option value="closed">Closed</option>
          <option value="in_progress">In Progress</option>
        </select>
      <p><input type=submit value=submit></p>
    </form>
    <p style="color: green">{{ status_message }}</p>
  </body>
</html>
