<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
  </head>
  <body>
    <h1>{{ username }}'s projects</h1>
    <a href="{{url_for('logout')}}">Log out</a>
    <a href="{{url_for('ticket_view')}}">View tickets</a>
    <table>
      <thead>
        <tr>
          <th>Project name</th>
          <th>Project id</th>
        </tr>
      </thead>
        {% for row in results %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
        </tr>
        {% endfor %}
    </table>
    <form method="POST" name="projects" action="">
      <p><input type=text name=project_name placeholder="New project name"></p>
      <p><input type=submit value=submit></p>
    </form>
    <p style="color: green">{{ status_message }}</p>
  </body>
</html>
