<!DOCTYPE html>
<html>
  <title>Current tickets</title>
  <head>
    <a href="{{url_for('dashboard')}}">Dashboard</a>
    <a href="{{url_for('logout')}}">Log out</a>
  </head>
    <table>
      <thead>
        <tr>
          <th>Ticket name</th>
          <th>Priority</th>
          <th>Time created</th>
          <th>Due</th>
          <th>Status</th>
        </tr>
      </thead>
        {% for row in results %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</html>
